table {
    border-collapse: collapse;
    /* width: 100%; */
  }
  
  th, td {
    border: 1px solid black;
    /* padding: 4px 8px; */
    width: auto;
    white-space: nowrap;
  }
  
  thead tr {
    border-bottom: 1px solid black;
  }
  
  tbody tr {
    border-bottom: 1px solid black;
  }
  
  a {
    text-decoration: underline;
    cursor: pointer;
  }
  